section.BooksContainer {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

section.BooksContainer h2{
  font-size: 23px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.books {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  width: 300px;
  height: 150px;
  padding: 0.5rem;
  margin: 2rem;
  background: #9358FF;
  border-radius: 10px;
  box-shadow: 0 0 30px #9258ff48;
  cursor: default;
}

.book h3 {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
}

.book h4 {
  font-size: 11px;
  color: #cecece;
  font-weight: 300;
  margin: 0.2rem 1rem 0 0;
}

.subtitle {
  display: flex;
}

@media(min-width:768px) {
  section.BooksContainer h2 {
    font-size: 34px;
}

  .book{
      height: 180px;
      padding: 1rem;
  }
}

@media (min-width: 1400px){
  .books  {
    width: 1400px;
  }
}